<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Description</th>
      <th>Starting date</th>
      <th>Finish date</th>
      <th>Employee</th>
      <th>Travel country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.Client %></td>
        <td><%= article.Description %></td>
        <td><%= article.Starting_date %></td>
        <td><%= article.Finish_date %></td>
        <td><%= article.Employee %></td>
        <td><%= article.Travel_country %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
